<div class="card">
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="exampleInputID1">ID</label>
                <input #ID type="text" class="form-control" id="exampleInputID1" placeholder="Enter ID">
            </div>

            <div class="form-group">
                <label for="exampleInputName1">Name</label>
                <input #Name type="text" class="form-control" id="exampleInputName1" placeholder="Enter Name">
            </div>
            <button type="submit" class="btn btn-primary" (click)='saveDetails(ID.value, Name.value)' routerLink='/group'>Submit</button>
        </form>
    </div>
</div>